.divPrincipal{background-color: white; border-radius: 5px;margin-top:15px; padding-bottom: 15px;}
.btnMesa{margin-top: 15px; font-size: 20px;}
.stockPlato{color: #63b03e;}
.stockNombrePlato{color: #428bca;}
.panel-body{padding: 0!important;}
.h4NombreProducto{display: inline-block; margin-top: 7px!important; margin-bottom: 10px!important;}
.h4precioProducto{display: inline-block; font-size: 15px;}
.bs-callout .panel-title i{font-size: 26px;}
/*.cantidadProducto{margin-right: 10px; margin-left: 10px;}*/
.btn-NoLine{border-color: transparent;}
/*.divUnSoloProducto:hover{color:#7a39a2!important; background-color: #7a39a2!important}*/

.divUnSoloProducto,#divProductosListado .row, #divRowResumenVentas .row{padding-top: 5px;}
.divUnSoloProducto:hover, #divProductosListado .row:hover, #divRowResumenVentas .row:hover
{background-color: #f3f3f3; font-weight: 700; transition: all 0.5s; color:#673AB7; transition: all 0.4s ease-in-out;}

